<?php
$access_list = '{{ access_list }}';
$email_to = '{{ app_email_to }}';
$db = '{{ app_pg_server }}';
$port = 5432;
$dbname = '{{ app_pg_db }}';
$user = '{{ app_pg_user }}';
$pass = '{{ app_pg_pass }}';
?>
